# Developing a Movie Recommendation System using spaCy and NLP

## Getting Started
To begin, ensure you have spaCy installed in your environment:

In [3]:
# !pip install spacy
!pip3 install spacy

Requirement already satisfied: spacy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.7.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (3.0.9)
Requirement already satisfied: thinc<8.3.0,>=8.2.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (8.2.3)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.4.0,>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (0.3.4)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (0.9.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (6.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (4.66.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (2.6.1)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (3.1.3)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (68.2.2)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (23.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (3.3.0)
Requirement already satisfied: numpy>=1.19.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from spacy) (1.26.4)
Requirement already satisfied: annotated-types>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.16.2)
Requirement already satisfied: typing-extensions>=4.6.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2023.11.17)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.1.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from typer<0.10.0,>=0.3.0->spacy) (8.1.7)
Requirement already satisfied: cloudpathlib<0.17.0,>=0.7.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from weasel<0.4.0,>=0.1.0->spacy) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from jinja2->spacy) (2.1.5)

In [2]:
# !python -m spacy download en_core_web_md
# !python3 -m spacy download en_core_web_md
!python3 -m spacy download en_core_web_lg

Collecting en-core-web-lg==3.7.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl (587.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/587.7 MB 1.2 MB/s eta 0:08:17^C
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/587.7 MB 1.2 MB/s eta 0:08:19
ERROR: Operation cancelled by user

Aborted.

# Phase 1: Data Preparation

First, download the dataset from Kaggle, specifically the `movies_metadata.csv` file.

## Loading the Dataset

In [ ]:
import pandas as pd
# Load the dataset
movies_metadata = pd.read_csv('./dataset/movies_metadata.csv', low_memory=False)

In [4]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
movies_metadata.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## Initial Data Cleaning

In [7]:
# Selecting relevant columns and removing missing values
movies_metadata = movies_metadata[['title', 'overview']].dropna()

In [8]:
movies_metadata.head()

,title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...

# Phase 2: NLP Preprocessing

We'll use spaCy for text processing to prepare our movie descriptions.

## Preprocessing Function

In [9]:
import spacy
nlp = spacy.load('en_core_web_lg')

def preprocess(text):
    doc = nlp(text)
    return ' '.join([token.lemma_.lower() for token in doc if not token.is_stop and not token.is_punct])

## Applying Preprocessing

In [10]:
# This takes many minutes depending on internet speed (rather run the next cell)
movies_metadata['processed_overview'] = movies_metadata['overview'].apply(preprocess)

In [11]:
# Only use a small subset of the data

# movies_metadata = movies_metadata.sample(5000, random_state=42)

# movies_metadata.head()

In [12]:
# A bit quicker with less accuracy

# movies_metadata['processed_overview'] = movies_metadata['overview'].apply(preprocess)

In [13]:
movies_metadata.head()

,title,overview,processed_overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",lead woody andy toy live happily room andy bir...
1,Jumanji,When siblings Judy and Peter discover an encha...,sibling judy peter discover enchanted board ga...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,family wedding reignite ancient feud door neig...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",cheat mistreat step woman hold breath wait elu...
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,george banks recover daughter wedding receive ...

# Phase 3: Feature Extraction

We'll transform movie descriptions into numerical vectors using spaCy's word vectors.

## Extracting Word Vectors

In [14]:
def get_vector(text):
    doc = nlp(text)
    return doc.vector

movies_metadata['vector'] = movies_metadata['processed_overview'].apply(get_vector)

In [ ]:
# Vector dimensions for an example
movies_metadata['vector'].iloc[1].shape

# This is a 300-dimensional vector

(300,)

In [ ]:
movies_metadata.head()

,title,overview,processed_overview,vector
18072,Undertow,An unusual ghost story set on the Peruvian sea...,unusual ghost story set peruvian seaside marri...,"[-1.1456169, -0.036510006, -1.3001771, -1.2833..."
5076,Burial Ground,Professor Ayres discovers a secret in an ancie...,professor ayres discover secret ancient stone ...,"[-0.09990842, -0.24466726, -0.99048996, -0.693..."
40871,Diggers,A couple hires a professional digger (undergro...,couple hire professional digger underground st...,"[-0.036168355, 0.7710308, -2.230075, -0.929048..."
7695,College,"To reconcile with his girlfriend, a bookish co...",reconcile girlfriend bookish college student t...,"[1.2536714, 1.7119963, -2.3417928, -1.2373142,..."
24381,Charlie Chan at Treasure Island,Charlie's investigation of a phony psychic dur...,charlie investigation phony psychic 1939 world...,"[-1.408762, -0.22870494, -1.0439839, -0.309689..."

# Phase 4: Building the Recommendation System

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

## Recommendation Function

In [ ]:
def recommend(input_description, n_recommendations=5):
    # Process the input description to get its vector
    input_vector = get_vector(preprocess(input_description))
    input_vector = input_vector.reshape(1, -1)  # Reshape for compatibility with cosine_similarity

    # Compute similarity with all movies
    similarity_scores = cosine_similarity(input_vector, list(movies_metadata['vector']))
    
    # Get top N similarities
    sim_scores_indices = similarity_scores[0].argsort()[-n_recommendations-1:-1][::-1]  # Exclude the input movie itself
    
    # Get movie titles based on indices
    recommended_titles = movies_metadata['title'].iloc[sim_scores_indices].tolist()
    
    # Get the corresponding similarity scores
    recommended_scores = similarity_scores[0][sim_scores_indices].tolist()
    
    # Combine titles and scores into a list of tuples
    recommendations = list(zip(recommended_titles, recommended_scores))
    
    return recommendations

# Phase 5: Evaluation and Refinement

In [137]:
# Get recommendations based on a few movie descriptions
recommend("A family of undercover superheroes, while trying to live the quiet suburban life, are forced into action to save the world.")

[('8 Minutes Idle', 0.8856506943702698),
 ('Refuge', 0.8841311931610107),
 ('A Few Dollars for Django', 0.8793590664863586),
 ('Tiny Times', 0.8778293132781982),
 ('The Twilight Saga: Eclipse', 0.8769623041152954)]

In [138]:
# Get another recommendation
recommend("A young lion prince is cast out of his pride by his cruel uncle, who claims he killed his father. While the uncle rules with an iron paw, the prince grows up beyond the Savannah, living by a philosophy: No worries for the rest of your days.")

[('Behind the Sun', 0.8700199723243713),
 ('Red Riding Hood', 0.8589057326316833),
 ('The Salt Prince', 0.8579161763191223),
 ('Robin Hood', 0.8540676236152649),
 ('Alluda Majaka', 0.8536922335624695)]

In [139]:
# Get another recommendation
recommend("A superhero from Krypton is sent to Earth to protect it from evil forces.")

[('Clash of the Titans', 0.821895956993103),
 ('Captain Kronos: Vampire Hunter', 0.8041558265686035),
 ('Deathstalker II', 0.8011834621429443),
 ('Atomic Rulers', 0.7917302250862122),
 ('Yu-Gi-Oh! 3D: Bonds Beyond Time', 0.7916430830955505)]

In [5]:
import spacy

In [16]:
nlp = spacy.load('en_core_web_lg')

# Two one dimensional sentences (with one word each) that are vectorized into 1 dimension, check similarity
word1 = nlp('superman')
word2 = nlp('batman')

word1.similarity(word2)

0.4730163416594314

In [17]:
word1.vector

array([-2.6731  , -0.1016  , -1.5326  , -0.73894 ,  1.6975  , -1.2512  ,
        0.48717 ,  2.8166  ,  0.2305  ,  0.40313 ,  1.7775  , -0.73511 ,
       -1.0041  ,  2.4754  ,  1.1743  ,  0.027054,  0.71775 , -0.80603 ,
       -0.22852 ,  1.8854  ,  2.361   ,  1.1044  , -0.65976 , -0.51719 ,
        1.7998  ,  0.39952 , -1.4748  , -0.7004  , -0.68701 ,  2.384   ,
       -1.7741  ,  0.97908 ,  0.46879 ,  1.7036  , -3.8394  , -1.2581  ,
       -2.7081  ,  0.65526 ,  0.39702 , -0.65691 , -3.9173  , -0.81067 ,
       -0.18701 ,  1.4345  ,  2.7059  ,  1.0145  , -0.78335 , -2.2463  ,
        0.52359 ,  2.2414  , -2.3945  ,  0.58798 ,  2.2354  , -0.74918 ,
       -0.78489 , -1.4248  ,  1.5527  , -0.57413 ,  1.0091  ,  2.8939  ,
        3.0589  , -3.1372  , -3.183   , -2.3034  ,  1.3096  , -0.098665,
       -2.9983  , -3.3373  ,  0.845   , -1.5726  , -1.1196  ,  0.55044 ,
       -1.3796  , -0.50626 , -0.5454  ,  1.3001  , -2.285   ,  2.1393  ,
        0.40241 , -1.4302  , -1.7802  , -1.6522  ,  0.34759 ,  2.3208  ,
        3.85    , -0.85681 ,  1.1612  , -2.0217  , -0.38261 , -1.6646  ,
       -1.1727  ,  0.054244,  3.8153  , -1.3791  , -0.58237 , -0.58173 ,
        1.3808  , -0.76685 ,  1.6577  ,  0.85201 ,  1.6642  , -0.53564 ,
        1.9046  ,  0.9654  , -1.6585  ,  0.21974 ,  0.73845 ,  0.37588 ,
        1.1933  , -1.6762  , -1.2238  ,  1.3078  , -1.4983  ,  1.6276  ,
        0.3459  , -0.6615  ,  0.17948 , -0.87284 , -0.70748 , -0.28455 ,
       -0.51618 , -4.0141  ,  0.37508 ,  1.837   ,  0.08412 , -1.9283  ,
        1.4921  , -0.86781 ,  2.5399  ,  0.32877 ,  0.49295 , -0.88098 ,
        2.5482  , -0.54592 , -2.2601  ,  0.22733 , -0.94475 ,  0.69035 ,
        2.1954  , -2.1221  , -1.5443  ,  0.30179 ,  0.77472 , -0.34719 ,
        3.6686  ,  0.52484 , -3.8334  ,  0.80283 ,  0.10991 , -0.65553 ,
        0.71259 ,  1.7584  ,  0.23581 ,  0.19712 , -1.1642  ,  1.1093  ,
        3.522   ,  0.85391 , -1.3743  ,  0.40537 , -2.1789  , -4.5176  ,
        0.53708 , -0.10868 , -2.5472  , -3.0213  , -2.0029  ,  1.0376  ,
       -0.25336 , -1.4346  ,  3.3192  ,  0.41989 ,  1.3883  ,  1.6093  ,
        0.6081  , -0.14284 ,  0.073055,  0.62637 , -0.92456 , -2.158   ,
       -3.1162  ,  1.1173  , -0.84119 , -0.75487 , -0.93779 , -0.044987,
       -0.78665 ,  0.33067 ,  1.0025  , -0.097052, -0.01374 ,  1.0049  ,
       -0.09144 ,  0.20854 ,  0.24341 ,  0.12458 , -1.6065  ,  0.62745 ,
        0.30558 ,  1.5291  , -0.26323 , -1.9419  , -0.056115, -1.183   ,
       -0.30995 ,  2.4999  , -1.9654  ,  0.8059  , -1.5368  ,  0.9832  ,
       -0.3608  , -2.0523  , -0.94091 ,  0.28703 , -1.3196  , -0.11511 ,
        0.43529 , -0.35182 , -0.59102 ,  1.3231  ,  0.83697 , -0.57695 ,
       -1.267   ,  2.37    , -1.6178  ,  1.7031  ,  1.2306  ,  2.9163  ,
        0.95517 , -0.40286 ,  3.2004  , -2.6937  , -0.21314 ,  0.66959 ,
        0.87105 , -0.10404 , -1.8673  ,  1.7358  , -2.4502  , -0.3825  ,
        0.56048 ,  0.76198 ,  0.65619 , -1.3402  ,  0.049996, -1.5534  ,
        0.89168 ,  0.24234 ,  0.50494 ,  5.3206  ,  1.4489  , -0.91257 ,
       -6.9603  ,  1.7154  , -2.3423  , -2.4666  ,  1.3692  ,  1.1042  ,
        0.22268 ,  1.9655  ,  0.52918 , -0.12629 ,  2.2833  ,  1.6601  ,
       -1.6269  ,  0.21807 ,  1.4745  ,  1.2254  , -0.76227 ,  1.6893  ,
       -0.27993 ,  0.38181 , -1.9569  , -0.27978 ,  0.79795 , -0.014448,
       -0.23907 , -0.95021 , -1.9464  ,  2.3322  , -2.0101  ,  0.33298 ,
        1.3389  ,  0.17771 ,  3.7269  , -0.44073 , -1.0233  ,  0.9916  ,
       -3.0035  , -0.14544 ,  0.77904 , -0.88523 , -0.64399 ,  0.12189 ,
       -1.0607  ,  0.4751  ,  1.518   ,  1.8358  , -0.82119 ,  0.73084 ],
      dtype=float32)

In [18]:
word1.similarity(word2)

0.4730163416594314

In [20]:
# Vectorize two sentences where changing the order of the words does not change the meaning, then calculate similarity
sentence1 = nlp('My breakfast I quickly ate.')
sentence2 = nlp('I quickly ate my breakfast.')

sentence1.similarity(sentence2)

0.9337331510260996